
pip-delete-this-directory.txt
cmake_install.cmake
*.la
.cache/
!.yarn/sdks
env.bak/
CMakeFiles/
.pyre/
*.lib
*.i*86
*.egg-info/
coverage.xml
.venv
dist/
.webassets-cache
*.lcov
*.x86_64
.ipynb_checkpoints
.coverage.*
*.dll
.envrc
lib-cov
*.aof
*.tsbuildinfo
activemq-data/
Testing/
.nuxt
.svelte-kit/
.vscode-test
.dmypy.json
__pypackages__/
.pytype/
celerybeat-schedule*
rabbitmq/
vcpkg_installed/
.tox/
profile_default/
*.rdb
*.exe
npm-debug.log*
lib/
.docusaurus
build-*/
CMakeCache.txt
.temp
venv/
yarn-debug.log*
out
jspm_packages/
*.swp
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.eslintcache
.lock-wscript
.output
sdist/
build/
__marimo__/
develop-eggs/
*.hex
dmypy.json
.cache
target/
!.yarn/versions
__pycache__/
logs
*.so.*
*.egg
.grunt
*.slo
mnesia/
.pnp.*
.nyc_output
.ruff_cache/
.coverage
.yarn/*
*.o
share/python-wheels/
.ropeproject
.node_repl_history
*.sage.py
*.lo
.installed.cfg
.nox/
*.ko
.tmp_versions/
.pixi/*
.Python
Makefile
wheels/
Mkfile.old
.next
*.cover
*.py[codz]
lib64/
*.tmp
*.app
.dynamodb/
pip-log.txt
htmlcov/
!.yarn/releases
*.mod
.abstra/
marimo/_static/
!.env.example
cover/
vite.config.ts.timestamp-*
celerybeat.pid
*.lai
compile_commands.json
*.dylib
local_settings.py
.tern-port
.scrapy
docs/_build/
.streamlit/secrets.toml
Build/
*.pid.lock
.parcel-cache
dist
*.d
build/Release
*.log
*.seed
*.map
*$py.class
ENV/
.npm
tempCodeRunnerFile.py
*.ilk
web_modules/
env/
!.yarn/plugins
.spyderproject
install_manifest.txt
.spyproject
*.su
*.pdb
*.mod*
*.so
*.tgz
.pytest_cache/
db.sqlite3
*.obj
bower_components
*.elf
*.cmd
*.pid
.serverless/
downloads/
.eggs/
.hypothesis/
instance/
venv.bak/
*.idb
coverage
Module.symvers
!.yarn/patches
.pdm-python
.pnpm-store
yarn-error.log*
nosetests.xml
eggs/
ipython_config.py
parts/
**/.vitepress/dist
*.gch
.yarn-integrity
.firebase/
*.mo
.stylelintcache
*.smod
.mypy_cache/
*.dwo
*.manifest
!.pixi/config.toml
*.dSYM/
*.py.cover
.vuepress/dist
*.out
marimo/_lsp/
.env.*
.pypirc
.fusebox/
vite.config.js.timestamp-*
dkms.conf
.pdm-build/
MANIFEST
*.exp
.env
lerna-debug.log*
var/
/site
*.bak
*.a
*.spec
db.sqlite3-journal
modules.order
rabbitmq-data/
**/.vitepress/cache
*.pch
.vite/
cython_debug/
*.pot
.pybuilder/
pids
node_modules/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,php,c,c++,cmake` for https://github.com/redscope-pl/cheer-gear.git with  [UNIXUSAT=1782697407324]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
